alabaster==0.7.12
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
cloudpickle==1.5.0
colorlover==0.3.0
comet-git-pure==0.19.16
comet-ml==3.1.16
configobj==5.0.6
dash==1.14.0
dash-bootstrap-components==0.10.3
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
dask==2.22.0
-e git+https://github.com/AndreCNF/data-utils.git@91455bbd0768377d33253c5e573f538143d3fe48#egg=data_utils
distributed==2.22.0
docutils==0.16
everett==1.0.2
falcon==2.0.0
Flask==1.1.1
Flask-Caching==1.9.0
Flask-Compress==1.4.0
fsspec==0.6.3
future==0.18.2
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.7
HeapDict==1.0.1
hug==2.6.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
livereload==2.6.2
lunr==0.5.8
Mako==1.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==5.5.6
mkdocs-material-extensions==1.0
-e git+https://github.com/AndreCNF/model-interpreter.git@122b00416b27d318e9629359966fa43a14c2eb13#egg=model_interpreter
modin==0.7.3
msgpack==1.0.0
netifaces==0.10.9
nltk==3.5
numpy==1.18.1
nvidia-ml-py3==7.352.0
packaging==20.1
pandas==1.0.3
pdoc3==0.7.5
pdocs==1.0.2
Pillow==7.2.0
plotly==4.9.0
portray==1.4.0
psutil==5.7.2
Pygments==2.6.1
pymdown-extensions==7.1
pyparsing==2.4.6
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
retrying==1.3.3
scikit-learn==0.22.1
scipy==1.4.1
-e git+https://github.com/AndreCNF/shap.git@18e24569d551b9f53ea73dc44f30866cdc92623b#egg=shap
six==1.14.0
sklearn==0.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tblib==1.7.0
toml==0.10.1
toolz==0.10.0
torch==1.4.0
tornado==6.0.4
tqdm==4.43.0
urllib3==1.25.10
websocket-client==0.57.0
Werkzeug==2.2.3
wrapt==1.12.1
wurlitzer==2.0.1
yaspin==0.15.0
zict==2.0.0
zipp==3.1.0
